WEB_URL=http://localhost:8787
ORIGIN=http://localhost:3000
ENVIRONMENT=development
PLAYERS_FILENAME=players-1713077307.json
STORAGE_URL=http://localhost:8787/asset/r2
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_SECRET_TOKEN=
TELEGRAM_WEBHOOK_URL=
